body{
    text-align: center;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.btn{
    height: 12rem;
    width: 12rem;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2.5rem;
}
.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #34917a;
}
.purple{
    background-color: #5b7cd6;
}
.gameflash{
    background-color: #fff;
}
.userflash{
    background-color: green;
}